

<!--holds navigation buttons to go back home/// could also be added to the footer?-->
          <div class="container">
           <div class="row">
              <div class="col">
                <input type="button" class="btn btn-primary" value="Back to Home Page" onclick="location.href = '/';">
              </div>
          <div class="col-8">
                  <!--empty column-->
              </div>
              <div class="col">
                <!--empty column-->
              </div>
          </div>
          
          
          
          
          
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Restroom Location Details</h5>
          <p><strong>ID</strong>: {{example.id}}</p>
          <p>
            <div class='rating-stars'>
             <ul id='stars' data-value= {{example.cleanliness}}>
                  <li class='star' data-value='1'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='2'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='3'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='4'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='5'>
                    <i class='fa fa-star'></i>
                  </li>
                </ul>
              </p>
          </div>


          <p>
            <p>       
                <strong>Name</strong>: {{example.name}}
            </p>
            <p>
              <strong>Address:</strong> {{example.addr}}
            </p>
            <p>
              <strong>Cleanliness:</strong> {{example.cleanliness}}
            </p>
             <p>
              <strong>Picture:</strong> {{example.picLink}}
            </p>
             <p>
              <strong>Single-Stall:</strong> {{#if example.singleStall}} Yes {{else}} No {{/if}}
            </p>
            <p>
              <strong>Handicap Access:</strong> {{#if example.handicapAccess}} Yes {{/if}} {{#unless example.handicapAccess}} No {{/unless}}
            </p>
            <p>
              <strong>Family Bathroom:</strong> {{#if example.FamBath}} Yes {{/if}} {{#unless example.FamBath}} No {{/unless}}
            </p>
             <p>
              <strong>Changing Tables:</strong> {{#if example.ChangeTable}} Yes {{/if}} {{#unless example.ChangeTable}} No {{/unless}}
            </p>
             <p>
              <strong>Unisex:</strong> {{#if example.Unisex}} Yes {{/if}} {{#unless example.Unisex}} No {{/unless}}
            </p>
             <p>
              <strong>Key Required:</strong> {{#if example.Unisex}} Yes {{/if}} {{#unless example.Unisex}} No {{/unless}}
            </p>

            
            
            <input type="button" class="btn btn-primary" value="Review this Restroom" onclick="location.href = '/review/{{example.id}}';">


        </div>
      </div>
    </div>
  </div>
</div>




            
            
           

     

<script src="/js/getstarratings.js"></script>
<script>
</script>