<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <div class='rating-stars'>
            <strong>ID</strong>: {{example.id}}
             <ul id='stars'>
                  <li class='star' data-value='1'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='2'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='3'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='4'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='5'>
                    <i class='fa fa-star'></i>
                  </li>
                </ul>
          </p>
          </div>
          <p>
            <p>       
                <strong>Name</strong>: {{example.name}}
            </p>
            <p>
              <strong>Address:</strong> {{example.addr}}
            </p>
            <p>
              <strong>Cleanliness:</strong> {{example.cleanliness}}
            </p>
             <p>
              <strong>Picture:</strong> {{example.picLink}}
            </p>
             <p>
              <strong># of Stalls:</strong> {{example.singleStall}}
            </p>
            <p>
              <strong>Handicap Access:</strong> {{example.handicapAccess}}
            </p>
            <p>
              <strong>Family Bathroom:</strong> {{example.FamBath}}
            </p>
             <p>
              <strong>Changing Tables:</strong> {{example.ChangeTable}}
            </p>
             <p>
              <strong>Unisex:</strong> {{example.Unisex}}
            </p>
             <p>
              <strong>Key Required:</strong> {{example.keyRequired}}
            </p>


            <a href="/">← Back To Home</a>
            <a href="/review/{{example.id}}">Review This Bathoom</a> 

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/ratings.js"></script>
<script>
</script>