<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Restroom Location Details</h5>
            <div class='rating-stars'>
             <ul id='stars' data-value= {{example.cleanliness}}>
                  <li class='star' data-value='1'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='2'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='3'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='4'>
                    <i class='fa fa-star'></i>
                  </li>
                  <li class='star' data-value='5'>
                    <i class='fa fa-star'></i>
                  </li>
                </ul>
          </p>
          </div>


          <p>
            <p>       
                <strong>Name</strong>: {{example.name}}
            </p>
            <p>
              <strong>Address:</strong> {{example.addr}}
            </p>
            <p>
              <strong>Cleanliness:</strong> {{example.cleanliness}}
            </p>
             <p>
              <strong>Picture:</strong> {{example.picLink}}
            </p>
             <p>
              <strong>Single-Stall:</strong> {{#if example.singleStall}} Yes {{else}} No {{/if}}
            </p>
            <p>
              <strong>Handicap Access:</strong> {{#if example.handicapAccess}} Yes {{/if}} {{#unless example.handicapAccess}} No {{/unless}}
            </p>
            <p>
              <strong>Family Bathroom:</strong> {{#if example.FamBath}} Yes {{/if}} {{#unless example.FamBath}} No {{/unless}}
            </p>
             <p>
              <strong>Changing Tables:</strong> {{#if example.ChangeTable}} Yes {{/if}} {{#unless example.ChangeTable}} No {{/unless}}
            </p>
             <p>
              <strong>Unisex:</strong> {{#if example.Unisex}} Yes {{/if}} {{#unless example.Unisex}} No {{/unless}}
            </p>
             <p>
              <strong>Key Required:</strong> {{#if example.Unisex}} Yes {{/if}} {{#unless example.Unisex}} No {{/unless}}
            </p>


            <a href="/directions/{{example.id}}"><button class="btn btn-primary" id="getDirBtn">Get Directions</button></a>
            <a href="/review/{{example.id}}" class="btn btn-primary float-none">Review This Bathoom</a><br><br>
            <a href="/" class="btn btn-primary float-none">Back to Home</a>
            


        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<div class = "footerContaner">
<footer id = "footer" class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
      <div class="row">
      </div>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright WHIZ Inc.
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

<script src="/js/getstarratings.js"></script>

